<!DOCTYPE html>
<html>

<head>
  <title>Success</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <h1>Thank you for registering!</h1>
    <p>Dear <%= name %>, we will contact you soon for the evaluation session.</p>
  </div>
</body>

</html>